/* Sportstation Styles - Overrides travels-magnolia.css
-------------------------------------------------- */

/* Tune the positioning */
.navbar-header {
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-brand {
    padding: 5px;
    height: 90px;
}

.navbar-toggle {
    margin-top: 25px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0px;
    margin-right: 0px;
}

/* Apply SportStation Red */
.btn-primary {
    background-color: #7d1314;
    border-color: #7d1314;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #9d001a;
    border-color: #9d001a;
    color: #fff;
}

#navbar,
.navbar,
footer {
    background-color: #990609;
}

#navbar-secondary {
    background-color: #888;
}

.nav li {
    background-color: #990609;
}

/* Other */

.jumbotron {
    background-color: #eee;
    color: #666;
}

.footer-1 {
    display: none;
}


